src/Broker.Client/Connected Services/TopicService/Broker.Contracts.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Broker.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Broker.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTopicItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopicItem" nillable="true" type="tns:TopicItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopicItem" nillable="true" type="tns:ArrayOfTopicItem" />
  <xs:complexType name="TopicItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopicItem" nillable="true" type="tns:TopicItem" />
</xs:schema>